@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}
html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background-color: #f6f6f6;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.primary {
  color: #6577b3;
}
.secondary {
  color: #ff5733;
}
.primaryBackground {
  background-color: #364ea1;
  color: #f6f6f6;
}
.secondaryBackground {
  background-color: #ff5733;
  /* background-color: #ed2024; */
  color: #f6f6f6;
}
.sectionMargin {
  margin-top: 3rem;
}
.AppContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.whiteBackground {
  background-color: #e2e2e2;
}
