html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.primary {
  color: #364ea1;
}
.secondary {
  color: #ed2024;
}
.primaryBackground {
  background-color: #364ea1;
  color: #fff;
}
.secondaryBackground {
  background-color: #ed2024;
  color: #fff;
}
.sectionMargin {
  margin-top: 3rem;
}
